<ion-header class="main-header">
  <ion-toolbar>

    <ion-title slot="start">
      LUSHKA
    </ion-title>

    <div class="header-logo">
      <img
        src="assets/logo/logo_lushka.png"
        alt="Lushka Beauty">
    </div>

    <ion-buttons slot="end">
      <ion-button routerLink="/carrito">
        🛒
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="session-bar">

  <!-- Usuario no autenticado -->
  <div
    class="session-content"
    *ngIf="!usuarioActual">

    <div class="session-info">

      <div class="session-icon">
        <ion-icon name="person-outline"></ion-icon>
      </div>

      <div>
        <span>Mi cuenta</span>
        <strong>Inicia sesión para continuar</strong>
      </div>

    </div>

    <button
      type="button"
      class="session-action"
      (click)="irALogin()">
      Iniciar sesión
    </button>

  </div>


  <!-- Usuario autenticado -->
  <div
    class="session-content"
    *ngIf="usuarioActual">

    <div
      class="session-info clickable"
      routerLink="/mi-cuenta">

      <div class="session-icon logged">
        <ion-icon name="person-outline"></ion-icon>
      </div>

      <div>
        <span>Bienvenida</span>
        <strong>Hola, {{ primerNombre }} 💗</strong>
      </div>

    </div>

    <button
      type="button"
      class="logout-button"
      (click)="cerrarSesion()">

      <ion-icon name="log-out-outline"></ion-icon>
      <span>Cerrar sesión</span>

    </button>

  </div>

</section>

  <!-- HERO -->
  <section class="hero">
    <div class="hero-content">
      <p class="eyebrow">BELLEZA · CUIDADO · ESTILO</p>

      <h1>Tu belleza,<br>tu esencia.</h1>

      <p class="hero-text">
        Descubre productos pensados para resaltar
        lo mejor de ti.
      </p>

      <ion-button
        class="catalog-button"
        expand="block"
        (click)="irAlCatalogo()">
        VER CATÁLOGO
      </ion-button>
    </div>
  </section>

  <!-- CATEGORÍAS -->
  <section class="section">
    <div class="section-title">
      <h2>Explora por categoría</h2>
      <span>Ver todo</span>
    </div>

    <div class="categories">

      <div class="category-card">
        <div class="category-icon">💄</div>
        <h3>Maquillaje</h3>
      </div>

      <div class="category-card">
        <div class="category-icon">✨</div>
        <h3>Cuidado facial</h3>
      </div>

      <div class="category-card">
        <div class="category-icon">🧴</div>
        <h3>Cuidado corporal</h3>
      </div>

      <div class="category-card">
        <div class="category-icon">💇‍♀️</div>
        <h3>Cabello</h3>
      </div>

      
      <div class="category-card">
        <div class="category-icon">🌈</div>
        <h3>Crecimiento Personal</h3>
      </div>

    </div>
  </section>

    <!-- DESTACADOS -->

  <section class="section products-section">

    <div class="section-title">

      <h2>
        Productos destacados
      </h2>

      <span
        (click)="irAlCatalogo()">

        Ver catálogo

      </span>

    </div>


    <div class="products">

      <div
        class="product-card"
        *ngFor="let producto of productosDestacados"
        (click)="verProducto(producto.id)">

        <div class="product-image">

          <img
            [src]="producto.imagen"
            [alt]="producto.nombre">


          <div
            class="home-stock-badge"
            [class.agotado]="producto.stock === 0">

            {{
              producto.stock === 0
                ? 'Agotado'
                : producto.stock + ' disponibles'
            }}

          </div>

        </div>


        <div class="product-info">

          <p>
            {{ producto.categoria }}
          </p>

          <h3>
            {{ producto.nombre }}
          </h3>

          <strong>
            ${{ producto.precio | number:'1.0-0' }}
          </strong>

        </div>

      </div>

    </div>

  </section>

  <!-- FRASE -->
  <section class="brand-message">
    <span>✦</span>
    <h2>La belleza comienza<br>cuando te eliges.</h2>
    <p>LUSHKA BEAUTY</p>
  </section>

</ion-content>