<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Lushka Beauty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a Lushka Beauty</ion-card-title>
      <ion-card-subtitle>Proyecto ABP - UCompensar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Esta vista fue maquetada utilizando la jerarquía semántica de Ionic Framework.
    </ion-card-content>

    <ion-button expand="block" color="secondary">
      Ver Catálogo
    </ion-button>
  </ion-card>
</ion-content>