<ion-header class="main-header">
  <ion-toolbar>

    <ion-title slot="start">
      LUSHKA
    </ion-title>

    <div class="header-logo">
      <img
        src="assets/logo/logo_lushka.png"
        alt="Lushka Beauty">
    </div>

    <ion-buttons slot="end">
      <ion-button routerLink="/carrito">
        🛒
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- HERO -->
  <section class="hero">
    <div class="hero-content">
      <p class="eyebrow">BELLEZA · CUIDADO · ESTILO</p>

      <h1>Tu belleza,<br>tu esencia.</h1>

      <p class="hero-text">
        Descubre productos pensados para resaltar
        lo mejor de ti.
      </p>

      <ion-button
        class="catalog-button"
        expand="block"
        (click)="irAlCatalogo()">
        VER CATÁLOGO
      </ion-button>
    </div>
  </section>

  <!-- CATEGORÍAS -->
  <section class="section">
    <div class="section-title">
      <h2>Explora por categoría</h2>
      <span>Ver todo</span>
    </div>

    <div class="categories">

      <div class="category-card">
        <div class="category-icon">💄</div>
        <h3>Maquillaje</h3>
      </div>

      <div class="category-card">
        <div class="category-icon">✨</div>
        <h3>Cuidado facial</h3>
      </div>

      <div class="category-card">
        <div class="category-icon">🧴</div>
        <h3>Cuidado corporal</h3>
      </div>

      <div class="category-card">
        <div class="category-icon">💇‍♀️</div>
        <h3>Cabello</h3>
      </div>

      
      <div class="category-card">
        <div class="category-icon">🌈</div>
        <h3>Crecimiento Personal</h3>
      </div>

    </div>
  </section>

  <!-- DESTACADOS -->
<section class="section products-section">

  <div class="section-title">
    <h2>Productos destacados</h2>
    <span (click)="irAlCatalogo()">Ver catálogo</span>
  </div>

  <div class="products">

    <div class="product-card" (click)="verProducto(1)">
      <div class="product-image">
        <img
          src="assets/productos/Capilar/AceiteCapilar.jpg"
          alt="Aceite Capilar">
      </div>

      <div class="product-info">
        <p>CAPILAR</p>
        <h3>Aceite Capilar</h3>
        <strong>$13.000</strong>
      </div>
    </div>

    <div class="product-card" (click)="verProducto(12)">
      <div class="product-image">
        <img
          src="assets/productos/CrecimientoPersonal/diario.jpg"
          alt="Diario de Agradecimiento">
      </div>

      <div class="product-info">
        <p>CRECIMIENTO PERSONAL</p>
        <h3>Diario de Agradecimiento</h3>
        <strong>$30.000</strong>
      </div>
    </div>

    <div class="product-card" (click)="verProducto(12)">
      <div class="product-image">
        <img
          src="assets/productos/Corporal/crema.png"
          alt="Crema Corporal">
      </div>

      <div class="product-info">
        <p>CUIDADO CORPORAL</p>
        <h3>Crema Corporal</h3>
        <strong>$15.000</strong>
      </div>
    </div>

  </div>

</section>

  <!-- FRASE -->
  <section class="brand-message">
    <span>✦</span>
    <h2>La belleza comienza<br>cuando te eliges.</h2>
    <p>LUSHKA BEAUTY</p>
  </section>

</ion-content>